{% extends 'layout.html' %}

    {% block content %}
    {% include 'navbar.html' %}

<div class="body-container">
    <!-------- First Conatiner -------->
  <div class="container">
    <h3>GET IN TOUCH</h3>
    <div class="row scroll-reveal">
      <div class="col-sm-4">
        <div class="info-card border" style="height: 300px;">
          <div class="icon-container">
            <img src="{{url_for('static', filename='images/address5.png')}}" alt="Address Icon">
          </div>
          <div class="text-container">
            <h3>Address</h3>
            <h5>Xtreme computer recycling</h5>
            <p>9047 Samerset Blud <br> Bellflower CA 90706</p>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="info-card border" style="height: 300px;">
          <div class="icon-container">
            <img src="{{url_for('static', filename='images/email2.png')}}" alt="Address Icon">
          </div>
          <div class="text-container">
            <h3>Email</h3>
            <h5>Xtreme computer recycling</h5>
            <p>@xtremecomputerrecycling</p>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="info-card border" style="height: 300px;">
          <div class="icon-container">
            <img src="{{url_for('static', filename='images/phone3.png')}}" alt="Address Icon">
          </div>
          <div class="text-container">
            <h3>Phone</h3>
            <h5>Xtreme computer recycling</h5>
            <p class="text-muted">TELL: (925) 421-0016</p>
          </div>
        </div>
      </div>
  </div>
</div>

<!--------  Second container --------->
<div class="message-us">
  <div class="row">
      <div class="col-sm-4">
        <div class="message-card">
          <h4>Message Us</h4>
          <em>Have questions or need assistance with your recycling journey? We're here to help! Feel free to reach out to us anytime. 
            <br>Our team is ready to assist you.<br>
            message is customer-centric and conveys a willingness to assist and provide support to your website visitors</em>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-card">
            <form>
            <div class="form-row">
                <div class="col">
                    <label for="firstName">First Name</label>
                    <input type="text" class="form-control" id="firstName" placeholder="First">
                </div>
                <div class="col">
                    <label for="lastName">Last Name</label>
                    <input type="text" class="form-control" id="lastName" placeholder="Last">
                </div>
            </div>
            
            <div class="form-group mt-3">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" placeholder="Email">
            </div>
            
            <div class="form-group mt-3">
                <label for="comments">Comments</label>
                <textarea class="form-control" id="comments" rows="4" placeholder="Comments"></textarea>
            </div>
            
            <button type="submit" class="btn btn-primary mt-3">Submit</button>
        </form>
        </div>

 </div> 
</div>
</div>

{% endblock %}