<!-------- Header Section -------->
    <div class="custom-header">
      <!-- Logo on the left -->
      <div class="logo-container">
        <!-- Logo on the left -->
        <div class="logo">
          <a href="{{ url_for('user.index' )}}"><img src="{{url_for('static', filename='images/logo.png')}}" alt="Xtreme Computer Recycling"></a>
        </div>
      <!-- H2 on the right -->
        <h2>Xtreme Computer Recycling</h2>
      </div>

      {% if current_user.is_authenticated %}
      <!------- Header left container ----->
      <div class="shopping-cart-container">
        <!---- Contact us ----->
        <div class="contact-us p-3">
          <a href="{{ url_for('user.contact_us' )}}"><p><img src="{{url_for('static', filename='images/contact-us.png')}}" alt="Contact us" style="width: 35px; height: 35px;"> Contact Us</p></a>
        </div>
        <!---- Shopping cart ----->
        <div class="shopping-cart">
          <a href="{{ url_for('user.cart') }}"><p><img src="{{url_for('static', filename='images/shopping-cart.png')}}" alt="Shopping Cart" style="width: 30px; height: 30px;"> My Cart({{count}})</p></a>
        </div>
        <!---- My account ----->
        <div class="my-account dropdown">
          <a href="#" class="dropdown-toggle" id="accountDropdown" data-toggle="dropdown">
              <img class="icon-container" src="{{url_for('static', filename='images/admin.png')}}" alt="" style="width: 40px; height: 30px;">
          </a>
          <div class="dropdown-menu" aria-labelledby="accountDropdown">
              <a class="dropdown-item mb-2 px-3" href="#"><i class="fas fa-user p-3"></i>{{current_user.username}}</a>
              <a class="dropdown-item px-2" href="{{ url_for('user.logout')}}"><i class="fas fa-sign-out-alt p-3"></i>
Logout</a>
          </div>
        </div>
        <!-- Search bar on the right -->
        <div class="search-bar">
          <input type="text" class="search-input" placeholder="Search...">
            <button class="search-button">Search</button>
        </div>
      </div>
      {% else %}
      <!------- Header left container ----->
      <div class="shopping-cart-container">
        <!---- Contact us ----->
        <div class="contact-us p-3">
          <a href="{{ url_for('user.contact_us' )}}"><p><img src="{{url_for('static', filename='images/contact-us.png')}}" alt="Contact us" style="width: 35px; height: 35px;"> Contact Us</p></a>
        </div>
        <!---- Shopping cart ----->
        <div class="shopping-cart">
          <a href="{{ url_for('user.cart') }}"><p><img src="{{url_for('static', filename='images/shopping-cart.png')}}" alt="Shopping Cart" style="width: 30px; height: 30px;"> My Cart</p></a>
        </div>
        <!---- My account ----->
        <div class="my-account dropdown">
          <a href="#" class="dropdown-toggle" id="accountDropdown" data-toggle="dropdown">
              <img class="icon-container" src="{{url_for('static', filename='images/admin.png')}}" alt="" style="width: 40px; height: 30px;">
          </a>
          <div class="dropdown-menu" aria-labelledby="accountDropdown">
            <a class="dropdown-item mb-2 px-2" href="{{ url_for('user.login')}}"><i class="fas fa-user p-3"></i>Login</a>
            <a class="dropdown-item px-2" href="{{ url_for('user.register')}}"><i class="fas fa-user p-3"></i>Register</a>
          </div>
        </div>
        <!-- Search bar on the right -->
        <div class="search-bar">
          <input type="text" class="search-input" placeholder="Search...">
            <button class="search-button">Search</button>
        </div>
      </div>
      {%endif%}

    </div>

    <nav class="topnav">
      <a href="#">Computers</a>
      <a href="#">Laptops</a>
      <a href="#">LCD Monitors</a>
      <a href="#">Recycle and SELL</a>
    </nav>

    