<!-- Sidebar (Left Column) -->
            <div class="col-md-3">
                <div class="p-3 border" style="background-color: #eee;">
                <!-- Sidebar content goes here -->
                    <div class="custom-container" style="margin-bottom: 112%;">
                  <!------ Category table ------->
                    <div class="category-head d-flex align-items-center justify-content-between  text-white w-100 navbar-brand">Categories</div>
                    {% for category in categories %}
                    <div class="category-row nav">
                        <img src="{{ url_for('static', filename='images/cat.gif') }}"><a href="{{ url_for('user.categories', id=category.id)}}" class="category-icon category-text nav-item nav-link">{{category.name}}</a> <!-- Replace with your icon -->
                    </div>
                    {% endfor %}
                    
                    <div></div>
                    <hr>
                    <!------- Brand --------->
                    <div class="category-head d-flex align-items-center justify-content-between  text-white w-100 navbar-brand">Brands</div>
                    {% for brand in brands %}
                    <div class="category-row">
                         <img src="{{ url_for('static', filename='images/cat.gif') }}"><a href="{{ url_for('user.brands', id=brand.id)}}" class="category-icon category-text nav-item nav-link">{{brand.name}}</a> <!-- Replace with your icon -->
                    </div>
                    {% endfor %}
                    
            </div>
        </div>
    </div>